.section-home {
    width: 100%;
    height: auto;
}
/* tamanho do avatar/ foto de Perfil*/
#avatar {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    margin-top: 80px;
    border: 2px solid var(--roxo);
}

/* Botoes dos Links */
.btns-links {
    width: 95%;
    display: flex;
    margin: 2%;
    justify-content: center;
    text-align: center;
}

.btns-links div {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.btns-links div a {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
   
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    -webki-backdrop-filter: blur(16px);
}

/* Incones */
.incons {
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
